@font-face {
  font-family: 'Satoshi Variable';
  src: url('/src/assets/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('/src/assets/fonts/Satoshi-Variable.woff') format('woff'),
       url('/src/assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: 100 900; /* Variable range */
  font-display: swap;
}
